@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-header: 0deg 0% 15%;
  --color-primary-background: 0deg 0% 12%; 
  --color-secondary-background: 0deg 0% 16%;
  --color-tertiary-background: 0deg 0% 21%;
  --color-primary-text: 0deg 0% 100%;
  --color-secondary-text: 0deg 0% 65%;
  --color-secondary: 274deg 100% 49%;
  --color-accent: 186deg 100% 41%;
  --color-switch-text: 0deg 0% 100%; 
}

@layer components {
  h1 {
    @apply text-xl tracking-wide m-0
  }

  h2 {
    @apply text-lg m-0
  }

  h3 {
    @apply text-base m-0
  }

  p {
    @apply text-sm m-0
  }
}